APP_NAME=ai-video-canvas-backend
APP_ENV=dev
APP_HOST=0.0.0.0
APP_PORT=8000

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=123456
MYSQL_DB=ai_video_canvas

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0

JWT_SECRET=replace_me
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=10080

UPLOAD_DIR=./uploads
PUBLIC_BASE_URL=http://127.0.0.1:8000

KIE_API_KEY=replace_me
KIE_BASE_URL=https://api.kie.ai
